<div class="dropdown">
  <button class="btn btn-default " type="button">Tutorials
    <span class="caret"></span></button>
  <button class="btn btn-default" type="button">Tutorials
    <span class="caret"></span></button>
  <button class="btn btn-default " type="button">Tutorials
    <span class="caret"></span></button>
  <button class="btn btn-default" type="button">Tutorials
    <span class="caret"></span></button>
  <button class="btn btn-default " type="button">Tutorials
    <span class="caret"></span></button>
  <button class="btn btn-default" type="button">Tutorials
    <span class="caret"></span></button>
</div>

<div class="row container">
  <div class="row container">
    <h1 style="text-align: center" class="container">Easy to get started.</h1>
  </div>
  <div class="row container">
    <div class="row container">
      <p style="text-align: center" class="lead">Quickly include Bootstrap's CSS and JS into any project. Use your
        favorite package manager, download the source, or use the Bootstrap CDN.</p>
    </div>
    <div class="row container">

      <div class="col-md-6" style="text-align: center">
        <h4> Managed dependencies</h4>

      </div>
      <div class="col-md-6 container" style="text-align: center">
        <h4> Bootstrap CDN</h4>

      </div>
    </div>
    <div class="row container">

      <div class="col-md-6">
        Managed dependencies
        Include Bootstrap's source Sass and JavaScript files via Bower, Composer, Meteor, or npm. Package managed
        installs
        don't include documentation, but do include our Gruntfile and readme.
      </div>
      <div class="col-md-6 container">
        Bootstrap CDN
        When you just need to include Bootstrap's compiled CSS and JS, use the Bootstrap CDN, free from the Max CDN
        folks.
      </div>
    </div>
    <div class="row container">

      <div class="col-md-6" style="text-align: center">


      </div>
      <div class="col-md-6 container" style="text-align: center">
        <figure class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;link</span> <span
          class="na">rel=</span><span class="s">"stylesheet"</span> <span class="na">href=</span><span class="s">"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"</span> <span
          class="na">integrity=</span><span class="s">"sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"</span> <span
          class="na">crossorigin=</span><span class="s">"anonymous"</span><span class="nt">&gt;</span>
<span class="nt">&lt;script </span><span class="na">src=</span><span class="s">"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"</span> <span
            class="na">integrity=</span><span class="s">"sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"</span> <span
            class="na">crossorigin=</span><span class="s">"anonymous"</span><span
            class="nt">&gt;&lt;/script&gt;</span></code></pre>
        </figure>

      </div>
    </div>


  </div>

-->
  <!--
    <div class="container">
      <h1>
        Titulo
      </h1>
      <p>La mayoría de las funciones multimedia pueden ser precedidas por "min-" o "max-" para expresar "greater or equal
        to" o "less than or equal to". Esto elimina la necesidad de usar los símbolos "<" y ">" los cuales podrían causar
        conflictos con HTML y XML. Si usted usa una función multimedia sin especificarle un valor, la expresión retornara
        verdadero si el valor es diferente de cero.</p>


    </div>

    <div class="row">
      <div class="col-sm-6" style="background-color: red">Rojo</div>
      <div class="col-sm-6" style="background-color: red">Rojo 2</div>
      <div class="col-md-6" style="background-color: blue">Azul</div>
      <div class="col-md-6" style="background-color: blue">Azul 2</div>
      <div class="col-lg-6" style="background-color: green">Verde</div>
      <div class="col-lg-6" style="background-color: green">Verde 2</div>
      <div class="col-xl-6" style="background-color: yellow">Amarillo</div>
      <div class="col-xl-6" style="background-color: yellow">Amarillo 2</div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-md-12" style="background-color: red"> sssss</div>
      <div class="col-md-12" style="background-color: blue">
        <div class="row" style="background-color: darkgreen">
          <div class="col-md-6" style="background-color: yellow"> admhadshvdsa</div>
          <div class="col-md-6" style="background-color: aqua">asdfasd</div>
        </div>
      </div>
    </div>

  -->
