<h1>
  {{title}}
  <h1>{{usuario.nombre}}</h1>
  <h1>{{usuario.apellido}}</h1>
  <h1>{{holaMundo()}}</h1>
<a [href]="url">
  <img src="https://angular.io/resources/images/logos/angular/angular.png" alt="" [style.width]="ancho" [style.width]="alto">
</a>
  <button (click)="holaMundo()" name="Hola">dddddddd</button>
</h1>

<h2>Mantriene sincronizadas las variables</h2>
<input value="{{usuario.nombre}}" >

<p id="bind"></p>

<h2>primwera forma con llaves </h2>
<input value="{{parrafo}}" >
<h2>one weight data binding {{usuario.nombre}}</h2>
<p [innerText]="parrafo" ></p>
<h2>En el estilo se debe poner la comilla simple</h2>
<input [value]="parrafo" [style.color]="'green'" [style.background-color]="colorBack">
<app-stilo></app-stilo>
<app-stilo></app-stilo>
<app-stilo></app-stilo>
